{% extends 'with-sidebar.njk' %}

{% from "partials/custom-elements-manifest/get-manifest.njk" import manifest with context %}

{% set moduleData = manifest | getModule(module) or {} %}

{% set additionalHeadings = moduleData | getHeadings %}

{% block sidebar %}
  {% set html = content %}
  <rocket-drawer id="sidebar">
    <nav slot="content" id="sidebar-nav">
      {% include 'partials/logoLink.njk' %}
      <rocket-navigation>
        {{
          collections[section]
          | hackToInsertHeadings(module=moduleData, package=package)
          | rocketNav
          | rocketNavToHtml(listItemClass="menu-item", activeListItemClass="current", activeKey=eleventyNavigation.key)
          | safe
        }}
        {% include 'partials/mobile-sidebar-bottom.njk' %}
      </rocket-navigation>
    </nav>
  </rocket-drawer>
{% endblock sidebar %}

{% block main %}
  <main class="markdown-body">
    {% include 'partials/addTitleHeadline.njk' %}

    {{ content | safe }}

    {% if moduleData.exports %}
      {%- block exports -%}
        {% include "partials/custom-elements-manifest/exports.njk" %}
      {%- endblock -%}
    {% endif %}

    {% for declaration in moduleData.declarations %}
      {% if declaration.kind == 'class' %}
        {% block class %}
          {% include "partials/custom-elements-manifest/class.njk" %}
        {% endblock %}
      {% elif declaration.kind == 'mixin' %}
        {% block mixin %}
          {% include "partials/custom-elements-manifest/mixin.njk" %}
        {% endblock %}
      {% elif declaration.kind == 'function' %}
        {%- block function -%}
          {% include "partials/custom-elements-manifest/function.njk" %}
        {%- endblock -%}
      {% endif %}
    {% endfor %}

    {% include 'partials/previousNext.njk' %}
    {% include 'partials/content-footer.njk' %}

    <script type="module" async>
      if (location.hash) {
        const anchor = document.querySelector(location.hash)
        const doc = anchor && anchor.closest('type-doc');
        if (doc) {
          doc.expanded = true;
          doc.scrollIntoView();
        }
      }
    </script>
  </main>
{% endblock main %}
