{% extends 'with-index.njk' %}

{% block headContent %}
  {{ super() }}
  <link rel="stylesheet" href="{{ '/_assets/blog.css' | asset | url }}">
{% endblock %}

{% block bodyTag %}
  <body layout="blog-details">
{% endblock bodyTag %}

{% block sidebar %}
  <rocket-drawer id="sidebar">
    <nav slot="content" id="sidebar-nav">
      {% include 'partials/logoLink.njk' %}
      <rocket-navigation>
        <ul>
          <li class="current">
            <h3>Headings</h3>
            {{ collections[section] | rocketPageAnchors({ title: title }) | rocketNavToHtml({
            listItemClass: "menu-item",
            activeListItemClass: "current",
            activeKey: eleventyNavigation.key
        }) | safe }}
          </li>
        </ul>
        <div class="sidebar-tags">
          <h3>Date</h3>
          <div>{{ page.date.toDateString() }}</div>
        </div>
        <div class="sidebar-tags">
          <h3>Tags</h3>
          <div class="tags">
            {% for tag in tags %}
              <span class="tag">{{tag}}</span>
            {% endfor %}
          </div>
        </div>
        {% include 'partials/mobile-sidebar-bottom.njk' %}
      </rocket-navigation>
    </nav>
  </rocket-drawer>
{% endblock sidebar %}

{% block main %}
  <main class="markdown-body">
    {% set cover_image = cover_image or generateSocialImage | cloudinary(title=title) | url %}
    {% if cover_image %}
      <img src="{{ cover_image | url }}" alt="">
    {% endif %}
    {% include 'partials/addTitleHeadline.njk' %}

    {{ content | safe }}

    {% include 'partials/previousNext.njk' %}
    {% include 'partials/blog-content-footer.njk' %}
  </main>
{% endblock main %}
