{% extends 'layout.njk' %}

{% block bodyTag %}
  <body layout="home" home-layout="{{ rocketLaunch.homeLayout }}">
{% endblock bodyTag %}

{% block sidebar %}
  <rocket-drawer id="sidebar">
    <nav slot="content" id="sidebar-nav">
      {% include 'partials/logoLink.njk' %}
      <rocket-navigation>
        <ul>
          {%- for entry in collections.header %}
            <li>
              <a href="{{ entry.url | url }}" class="
                {% if entry.url == page.url %} current {% endif %}
                {% if (page.url.search(entry.url) !== -1) and (page.url !== '/') %} active {% endif %}
              ">{{ entry.data.eleventyNavigation.key }}</a>
            </li>
          {%- endfor %}
        </ul>
        {% include 'partials/mobile-sidebar-bottom.njk' %}
      </rocket-navigation>
    </nav>
  </rocket-drawer>
{% endblock sidebar %}

{% block main %}
  <main class="markdown-body">
    <img class="page-logo" src="{{ '_assets/logo.svg' | asset | url }}" alt="{{ site.title }} Logo"/>

    {% if rocketLaunch.homeLayout === 'background' %}
      <img class="page-background" src="{{ '_assets/home-background.svg' | asset | url }}" role="presentation"/>
    {% endif %}

    <h1 class="page-title">{{ title }}</h1>

    <p class="page-slogan">{{ slogan }}</p>

    <div class="call-to-action-list" role="list">
      {% for callToAction in callToActionItems %}
        <a class="call-to-action" href="{{ callToAction.href | url }}" role="listitem">{{ callToAction.text | safe }}</a>
      {% endfor %}
    </div>

    <h2 class="reason-header">{{ blurbHeader }}</h2>

    <section class="reasons">
      {% for blurb in blurbs %}
        <article>
          <h3>{{ blurb.header }}</h3>
          {{ blurb.text | safe }}
        </article>
      {% endfor %}
    </section>

    <section class="advantage" id="libraries">
      <h2>Use your Favourite Web Components Library</h2>
      <p>
        Apollo Elements comes with support for many popular web components libraries.
        Choose the one that suits your project and team, or mix-and-match.
        Components built using different libraries can easily coexist in the same app.
      </p>

      <ul>
      {% for library in libraries %}
        {% set logourl = '_assets/library-logos/' + library.logo + '.svg' | asset | url %}
        <li>
          <a href="./api/libraries/{{ library.lib }}/">
            <figure>
              <img src="{{ logourl }}" alt=""/>
              <figcaption>{{ library.name }}</figcaption>
            </figure>
          </a>
        </li>
      {% endfor %}
      </ul>
    </section>

    <section class="advantage" id="frameworks">
      <h2>Interoperable</h2>

      <p>
        <strong>Write GraphQL components once</strong> and <strong>use them everywhere</strong> with ease.
        Elements created with Apollo Elements work in any framework or none,
        even in Angular, Preact, React, Svelte, or Vue apps.
      </p>

      <p>Thes demos all import the same Apollo Element component from NPM.</p>

      <code-tabs id="demos" collection="frameworks">
        <article id="default-tab" slot="default">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.794 39.794">
            <path d="M32.901 39.794a3.32 3.32 0 01-1.933-.604L10.182 24.344l-6.001 6a.998.998 0 01-1.703-.622L.004 1.086A1 1 0 011.086.004l28.638 2.475a1 1 0 01.622 1.703l-6 6 14.847 20.786c.926 1.297.769 3.197-.359 4.325l-3.539 3.539c-.637.635-1.516.962-2.394.962zM10.075 22.038c.202 0 .406.061.581.186l21.475 15.339c.499.357 1.315.288 1.748-.146l3.539-3.539c.433-.434.501-1.25.146-1.749l-15.34-21.474a1 1 0 01.107-1.288l5.081-5.081L2.098 2.098l2.188 25.314 5.081-5.081a.999.999 0 01.708-.293z"/>
          </svg>
          <p>Click a tab to view the demo</p>
        </article>
        {% for demo in frameworkDemos %}
          {% set logourl = ['_assets/framework-logos/', demo.framework, '.svg'] | join | asset | url %}
          <code-tab no-copy
                data-id="{{ demo.framework }}"
                data-synonyms="{{ demo.frameworkAlt }}"
                data-label="{{ demo.frameworkAlt }}"
                data-icon-href="{{ logourl }}">
            <codesandbox-button sandbox-id="{{ demo.sandboxId }}" module="{{ demo.module }}">
              <span slot="button" hidden></span>
            </codesandbox-button>
          </code-tab>
        {% endfor %}
      </code-tabs>
    </section>

    {{ content | safe }}
    {% include 'partials/previousNext.njk' %}
  </main>

  <script type="module">
    import '@power-elements/codesandbox-button';
    const demos = document.getElementById('demos');
    demos.addEventListener('select', loadDemo);
    function loadDemo() {
      const sandbox = document.querySelector('#demos [selected] > *');
      sandbox.theme =
        document.body.getAttribute('theme') ||
        window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      sandbox.showDemo = true;
    }
  </script>
{% endblock main %}
