{% extends 'layout-sidebar.njk' %}

{% from "partials/custom-elements-manifest/get-manifest.njk" import manifest with context %}

{% set moduleData = manifest | getModule(module) or {} %}

{% set additionalHeadings = moduleData | getHeadings %}

{% block content %}
  <main class="markdown-body">
    {% if layout == 'layout-api-index' %}
      {% set block = _joiningBlocks._layoutApiIndex.content %}
    {% elif layout == 'layout-api' %}
      {% set block = _joiningBlocks._layoutApi.content %}
    {% endif %}
    {% for blockName, blockPath in block %}
      {% include blockPath %}
    {% endfor %}
  </main>
{% endblock content %}

{% block bottom %}
  <script type="module" async>
    if (location.hash) {
      const anchor = document.querySelector(location.hash)
      const doc = anchor && anchor.closest('type-doc');
      if (doc) {
        doc.expanded = true;
        doc.scrollIntoView();
      }
    }
  </script>
{% endblock bottom %}
