{% extends 'layout-api.njk' %}

{% from "partials/custom-elements-manifest/get-manifest.njk" import manifest, packageJson with context %}

{% from "partials/custom-elements-manifest/macros.njk" import exports %}

{% set moduleData = {} %}

{% block head %}
  {{ super() }}
  <style>
    #package-header {
      align-items: center;
      display: flex;
      gap: 16px;
      padding: 10px 0;
    }

    #package-header h2 {
      border: 0;
      margin: 0;
    }

    #package-header h2 code {
      background: none;
    }

    #package-header .package-link:first-of-type {
      margin-inline-start: auto;
    }

    #package-header .package-link {
      color: var(--text-color);
      height: 30px;
      display: block;
    }

    #package-header .package-link svg {
      height: 100%;
    }
  </style>
{% endblock head %}
