---
layout: layout-sidebar.njk
---

{% block sidebar %}
  {% include 'partials/_layoutHome/sidebar.njk' %}
{% endblock sidebar %}

{% block content %}
	{% include 'partials/_layoutHome/content.njk' %}
{% endblock content %}
