{% extends 'layout-sidebar.njk' %}

{% block sidebar %}
	{% include 'partials/_layoutBlogDetails/sidebar.njk' %}
{% endblock sidebar %}

{% block content %}
  <main class="markdown-body">
    {% include 'partials/_layoutBlogDetails/content.njk' %}
  </main>
{% endblock content %}
