<!doctype html>
{% block htmlTag %}
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
{% endblock htmlTag %}

  {% block head %}
    {% include 'partials/head.njk' %}

    {% for blockName, blockPath in _joiningBlocks._layoutDeck.head %}
      {% include blockPath %}
    {% endfor %}

  {% endblock head %}

  {% block bodyTag %}
  <body layout="{{ layout }}">
  {% endblock bodyTag %}

    <noscript>
      <h1>{{ title }}</h1>

      <p>{{ description }}</p>
      <p>This presentation relies on JavaScript. Please consider enabling JavaScript for this site.</p>
    </noscript>

  {% block main %}


    <slidem-deck id="deck"
                 transition="{{ transition or 'slide-in slide-out' }}"
                 itemscope
                 itemtype="http://schema.org/PresentationDigitalDocument"
                 loading>
      <gluon-keybinding key="Backspace" slot="backward"></gluon-keybinding>
      <gluon-keybinding key=" " slot="forward"></gluon-keybinding>
      <gluon-keybinding key="h" slot="backward"></gluon-keybinding>
      <gluon-keybinding key="j" slot="forward"></gluon-keybinding>
      <gluon-keybinding key="k" slot="backward"></gluon-keybinding>
      <gluon-keybinding key="l" slot="forward"></gluon-keybinding>

      {% for slide in collections.slides %}
        {% set isPageSlide =
               (slide.template.inputPath | dirname | joinPath('..'))
            == (page.inputPath | dirname | joinPath('.')) %}
        {% if isPageSlide %}
          <slidem-slide name="{{ slide.data.name }}"
                    {{ ('background='+slide.data.background) if slide.data.background }}
                    {{ slide.data.attrs }}>
            {{- slide.templateContent | safe -}}
          </slidem-slide>
        {% endif %}
      {% endfor %}

    </slidem-deck>
  {% endblock main %}

  {% include 'partials/bottom.njk' %}
  </body>
</html>
