{% extends 'layout.njk' %}

{% block headContent %}
  {% if generateSocialImage %}
    {% set socialMediaImage = generateSocialImage | cloudinary(title=title, description=description, tags=tags) | url %}
    {% set cover_image = socialMediaImage %}
  {% endif %}
  {% include 'partials/head-content.njk' %}
{% endblock %}

{% block bodyTag %}
  <body layout="with-sidebar">
{% endblock bodyTag %}

{% block sidebar %}
  {% set html = content %}
  <rocket-drawer id="sidebar">
    <nav slot="content" id="sidebar-nav">
      {% include 'partials/logoLink.njk' %}
      <rocket-navigation>
        {{
          collections[section]
          | rocketNav
          | rocketNavToHtml(listItemClass="menu-item", activeListItemClass="current", activeKey=eleventyNavigation.key)
          | safe
        }}
        {% include 'partials/mobile-sidebar-bottom.njk' %}
      </rocket-navigation>
    </nav>
  </rocket-drawer>
{% endblock sidebar %}

{% block main %}
  <main class="markdown-body">
    {% include 'partials/addTitleHeadline.njk' %}

    {{ content | safe }}

    {% include 'partials/previousNext.njk' %}
    {% include 'partials/content-footer.njk' %}
  </main>
{% endblock main %}
