{% extends 'layout-sidebar.njk' %}

{% from "partials/custom-elements-manifest/macros.njk" import linkHeading %}


{% set blocks = _joiningBlocks._layoutApiIndex.content if layout === 'layout-api-index' else _joiningBlocks._layoutApi.content %}

{% block content %}
  <main class="markdown-body">
  </main>
{% endblock content %}

{% block bottom %}
  <script type="module" async>
    if (location.hash) {
      const anchor = document.querySelector(location.hash)
      const doc = anchor && anchor.closest('type-doc');
      if (doc) {
        doc.expanded = true;
        doc.scrollIntoView();
      }
    }
  </script>
{% endblock bottom %}
