<link rel="stylesheet" href="{{ '/_assets/_static/custom-elements-manifest/type-doc.css' | asset | url }}">

<noscript>
  <link rel="stylesheet" href="{{ '/_assets/_static/custom-elements-manifest/noscript.css' | asset | url }}">
</noscript>
