node_modules
coverage
docs

examples/**/schema.ts
examples/**/*.d.ts

packages/**/*.js
packages/*/*.js
packages/**/*.d.ts
packages/*/*.d.ts
packages/test/schema.ts

packages/create/template

docs/_merged_data/
docs/_merged_assets/
docs/_merged_includes/
_site
_site-dev
