node_modules
coverage

.netlify
.nyc_output
.npmrc
cc-reporter
*.tsbuildinfo

forever*.log
analysis.json
lerna-debug.log
yarn-error.log
*.tgz

packages/*/*.js
packages/*/*.js.map
packages/*/*.d.ts
packages/*/*.d.ts.map
packages/**/custom-elements.json

packages/create/test/*.js
packages/create/test/*.js.map
packages/create/test/*.d.ts
packages/create/test/*.d.ts.map

test/test/schema.ts
test/*.js
test/*.d.ts
test/*.js.map

packages/hybrids/factories/*.d.ts
packages/hybrids/factories/*.js
packages/hybrids/factories/*.js.map

packages/hybrids/helpers/*.d.ts
packages/hybrids/helpers/*.js
packages/hybrids/helpers/*.js.map

packages/gluon/helpers/*.d.ts
packages/gluon/helpers/*.js
packages/gluon/helpers/*.js.map

packages/core/lib/*.d.ts
packages/core/lib/*.js
packages/core/lib/*.js.map

packages/fast/bases/*.d.ts
packages/fast/bases/*.js
packages/fast/bases/*.js.map

!custom-elements-manifest.config.js

!packages/*/global.d.ts
!packages/gluon/gluon.d.ts
!packages/docs/rollup.config.js

## Apollo Elements docs ignores
_site


docs/_data/customElementsManifests
*.draft.md
packages/*/docs/*.yml
