node_modules
coverage

.netlify
.nyc_output
.npmrc

forever*.log
analysis.json
lerna-debug.log
package-lock.json
yarn-error.log
*.tgz

packages/*/*.js
packages/*/*.js.map
packages/*/*.d.ts
packages/*/*.d.ts.map

private/test/schema.ts
packages/components/README.md

packages/hybrids/factories/*.d.ts
packages/hybrids/factories/*.js
packages/hybrids/factories/*.js.map

packages/hybrids/helpers/*.d.ts
packages/hybrids/helpers/*.js
packages/hybrids/helpers/*.js.map

packages/gluon/helpers/*.d.ts
packages/gluon/helpers/*.js
packages/gluon/helpers/*.js.map

!custom-elements-manifest.config.js

!packages/*/global.d.ts
!packages/gluon/gluon.d.ts
!packages/docs/rollup.config.js

## Rocket ignore files
docs/_merged_data/
docs/_merged_assets/
docs/_merged_includes/
_site-dev
_site

## Apollo Elements docs ignores
docs/_data/customElementsManifests
*.draft.md
packages/*/docs/*.yml

docs/_assets/_static/code-tabs
docs/_assets/_static/custom-elements-manifest
docs/_assets/_static/playground-elements
docs/_assets/_static/webcomponents-dev
docs/_assets/_static/apollo-elements
docs/_assets/_static/slide-decks
