<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:type" content="website"/>

<meta property="og:image" content="{{ socialMediaImage }}"/>
<meta property="og:url" content="{{ page.url }}"/>

<meta name="twitter:card" content="summary_large_image"/>
