<link rel="stylesheet" href="{{ '/_assets/variables.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/layout.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/markdown.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/style.css' | asset | url }}">

<link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ '/_assets/type-doc.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/mermaid.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/components.css' | asset | url }}">

{% if layout == 'layout-home' %}
  <link rel="stylesheet" href="{{ '/_assets/home.css' | asset | url }}">
{% endif %}
