<main class="markdown-body">
  {% if layout == 'layout-api-index' %}
    {% set block = _joiningBlocks._layoutApiIndex.content %}
  {% elif layout == 'layout-api' %}
    {% set block = _joiningBlocks._layoutApi.content %}
  {% endif %}
  {% for blockName, blockPath in block %}
    {% include blockPath %}
  {% endfor %}
</main>
