code[class*="language-"],
pre[class*="language-"] {
  border-radius: 6px;
}

code-tabs[collection="libraries"] {
  --code-tabs-min-height: 100px;
}

code-tabs[collection="package-managers"] {
  --code-tabs-icon-height: 18px;
}

code-tabs .highlight {
  margin-bottom: 0;
}
