.markdown-body .call-to-action {
  font-variation-settings: "CASL" 0, "MONO" 0, "slnt" -5, "CRSV" 1;
}

.markdown-body .call-to-action:nth-of-type(2) {
  --primary-color: #222;
  --primary-color-lighter: #333;
  --primary-color-darker: #000;
}

.markdown-body h2 {
  border: 0;
  text-align: center;
}

h2 .anchor {
  display: none;
}

h2:not(:first-of-type) {
  margin-top: 7rem;
}

@media screen and (min-width: 1024px) {
  .page-background {
    top: -210px;
    right: -463px;
    transform: rotate(45deg);
  }
}

code-tab::part(content) {
  width: 100%;
}
