body {
  font-family: 'Inter var', 'Roboto', arial, sans-serif;
  color: var(--on-background);
  background: var(--background);
}

:root {
  --background: #fefefe;
  --on-background: #222;
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --on-background: #fefefe;
  }
}