@font-face {
  font-family: D-DIN-Medium;
  src: url(fonts/D-DIN.woff2) format("woff2"), url(fonts/D-DIN.woff) format("woff"), url(fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: D-DIN-Light;
  src: url(fonts/D-DIN.woff2) format("woff2"), url(fonts/D-DIN.woff) format("woff"), url(fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: D-DIN-Bold;
  src: url(fonts/D-DIN-Bold.woff2) format("woff2"), url(fonts/D-DIN-Bold.woff) format("woff"), url(fonts/D-DIN-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: D-DIN-Regular;
  src: url(fonts/D-DIN.woff2) format("woff2"), url(fonts/D-DIN.woff) format("woff"), url(fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

html {
  background-color: black;
  color: white;
  font-family: D-DIN-Regular;
}

p {
  line-height: 1.6;
}

#home #feature h1,
#home #feature h2 {
  font-size: 48px;
  line-height: 48px;
}

a:active,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

img {
  border: 0;
  padding: 0;
}

a {
  font: 16px/24px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  position: relative;
  font: 100px/85px D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  margin: auto;
}

h2,
h4 {
  margin: auto;
}

h2,
h3,
h4 {
  color: #fff;
  position: relative;
}

h2 {
  font: 46px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font: 20px/32px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: auto auto 10px;
}

h4 {
  font: 20px/38px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 15px 0;
}
