<img class="page-logo"
     src="{{ '/_assets/logo.svg' | asset | url }}"
     alt="{{ site.title }} Logo"
     width="250px"
     height="250px"/>

{% if rocketLaunch.homeLayout === 'background' %}
  <img class="page-background"
       src="{{ '/_assets/home-background.svg' | asset | url }}"
       role="presentation"/>
{% endif %}

<h1 class="page-title">{{ title }}</h1>

<p class="page-slogan">{{ slogan }}</p>

<div class="call-to-action-list" role="list">
  {% for callToAction in callToActionItems %}
    <a class="call-to-action" href="{{ callToAction.href | url }}" role="listitem">{{ callToAction.text | safe }}</a>
  {% endfor %}
</div>
