<h2 class="reason-header">{{ blurbHeader }}</h2>

<section class="reasons">
  {% for blurb in blurbs %}
    <article>
      <h3>{{ blurb.header }}</h3>
      {{ blurb.text | safe }}
    </article>
  {% endfor %}
</section>
