{% from "./macros.njk" import codeBlock, linkHeading %}

{% set attributes = declaration | getAttributes %}
{% set fields = declaration | getFields %}
{% set methods = declaration | getMethods %}
{% set slots = declaration | getSlots %}
{% set cssParts = declaration | getCssParts %}
{% set cssProperties = declaration | getCssProperties %}
{% set events = declaration | getEvents %}

{% block demo %}{% endblock %}

{% if declaration.summary %}
  {% markdown %}{{ declaration.summary | safe }}{% endmarkdown %}
{% endif %}

{% block beforeAttributes %}{% endblock %}
{% if attributes.length %}
  {{ linkHeading('Attributes', level=2) }}
  {% for attribute in (attributes | sortByProp('name')) %}
    {% if not attribute.inheritedFrom %}
      {% include "./attribute.njk" %}
    {% endif %}
  {% endfor %}
  {% for attribute in (attributes | sortByProp('name')) %}
    {% if attribute.inheritedFrom %}
      {% include "./attribute.njk" %}
    {% endif %}
  {% endfor %}
{% endif %}

{% block beforeProperties %}{% endblock %}
{% if fields.length %}
  {{ linkHeading('Properties', level=2) }}
  {% for property in (fields | sortByProp('name')) %}
    {% if not property.inheritedFrom %}
      {% include "./property.njk" %}
    {% endif %}
  {% endfor %}
  {% for property in (fields | sortByProp('name')) %}
    {% if property.inheritedFrom %}
      {% include "./property.njk" %}
    {% endif %}
  {% endfor %}
{% endif %}
{% block afterProperties %}{% endblock %}

{% block beforeMethods %}{% endblock %}
{% if methods.length %}
  {{ linkHeading('Methods', level=2) }}
  {% for method in (methods | sortByProp('name')) %}
    {% if not method.inheritedFrom %}
      {% include "./method.njk" %}
    {% endif %}
  {% endfor %}
  {% for method in (methods | sortByProp('name')) %}
    {% if method.inheritedFrom %}
      {% include "./method.njk" %}
    {% endif %}
  {% endfor %}
{% endif %}

{% block beforeSlots %}{% endblock %}
{% if slots.length %}
  {{ linkHeading('Slots', level=2) }}
  {% for slot in (slots | sortByProp('name')) %}
    {% include "./slot.njk" %}
  {% endfor %}
{% endif %}

{% block beforeParts %}{% endblock %}
{% if cssParts.length %}
  {{ linkHeading('CSS Shadow Parts', level=2) }}
  <table class="css-parts-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for cssPart in (cssParts | sortByProp('name')) %}
        <tr>
          <td>{{ cssPart.name }}</td>
          <td>{{ cssPart.description }}</td>
        </tr>
        {% if cssPart.summary %}
          {% markdown %}{{ cssPart.summary | safe }}{% endmarkdown %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% block beforeCssCustomProperties %}{% endblock %}
{% if cssProperties.length %}
  {{ linkHeading('CSS Custom Properties', level=2) }}
  <table class="css-custom-properties-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Default Value</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for cssProp in (cssProperties | sortByProp('name')) %}
        <tr>
          <td>{{ cssProp.name }}</td>
          <td>{{ codeBlock(cssProp.defaultValue, lang="css") }}</td>
          <td>{{ cssProp.description }}</td>
        </tr>
        {% if cssProp.summary %}
          {% markdown %}{{ cssProp.summary | safe }}{% endmarkdown %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% block beforeEvents %}{% endblock %}
{% if events.length %}
  {{ linkHeading('Events', level=2) }}
  <table class="events-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for event in (events | sortByProp('name')) %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ codeBlock(event.type.type) }}</td>
          <td>{% markdown %}{{ event.description | safe }}{% endmarkdown %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %} {# events #}
