{% from "./macros.njk" import codeBlock %}

<type-doc kind="parameter" data-parameter="{{ param.name }}">
  <h4 slot="name">{{ param.name }}</h4>
  <span slot="type">{% highlight }{{ codeBlock(param.type | getTypeString) | linkToTypes | safe }}</span>
  {% if param.summary %}
    {% renderTemplate 'njk,md' %}{{ param.summary | safe }}{% endrenderTemplate %}
  {% endif %}
  {% if param.description %}
    {% renderTemplate 'njk,md' %}{{ param.description | safe }}{% endrenderTemplate %}
  {% endif %}
</type-doc>
