{% from "./macros.njk" import linkHeading %}

<type-doc kind="slot" data-property="{{ slot.name or '' }}" class="{{ 'anonymous' if not slot.name else '' }}">
  {% set text = slot.name or 'default-slot' %}
  {% set content = slot.name or ('<em>default slot</em>' | safe) %}
  <span slot="name">{{ linkHeading(text, content=content, prefix='slot') }}</span>
  {% if slot.allowedChildren %}
    <h4>Allowed Children</h4>
    <ul class="allowed-children">
    {% for child in slot.allowedChildren %}
      <li>{{ child }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% renderTemplate 'njk,md' %}{{ slot.summary | safe }}{% endrenderTemplate %}
  {% renderTemplate 'njk,md' %}{{ slot.description | safe }}{% endrenderTemplate %}
</type-doc>
