{% if rocketLaunch.newsletter %}
  <div id="newsletter">
    <div class="content-area">
      <h4>Modern Web Newsletter</h4>
      <p>
        Get the latest Modern Web news to your inbox, curated by the core team and contributors.
      </p>
      <form>
        <input type="text"/>
        <button type="submit">subscribe</button>
      </form>
    </div>
  </div>
{% endif %}
