<meta name="theme-color" content="#7ED9D9">

<link rel="preconnect" href="https://unpkg.com">
<link rel="preconnect" href="https://fonts.googleapis.com">

<script src="https://unpkg.com/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/_merged_assets/decks.css">

<script type="module" src="https://unpkg.com/slidem/slidem-deck?module"></script>
<script type="module" src="https://unpkg.com/slidem/slidem-slide?module"></script>
<script type="module" src="https://unpkg.com/@gluon/keybinding/gluon-keybinding?module"></script>

<noscript>
  <style>
    body {
      padding-top: 80px;
    }

    h1 {
      text-transform: uppercase;
    }

    h1, p {
      text-align: center;
    }

    h1 span:first-child {
      line-height: 0.6;
      color: var(--tertiary);
      font-size: 40vw;
    }

    h1 span:last-child {
      line-height: 0.2;
      color: var(--primary);
      font-size: 20vw;
    }

    p {
      font-size: 24px;
    }
  </style>
</noscript>

<script async defer>
  addEventListener('keyup', event => {
    if (event.key !== 'f')
      return;
    else if (document.fullscreen)
      document.exitFullscreen();
    else
      document.body.requestFullscreen();
  });
</script>
