{% set rocketServiceWorkerUrl = '/' + rocketConfig.serviceWorkerName %}

<script>
  window.__rocketServiceWorkerUrl = '{{ rocketServiceWorkerUrl | url }}';
</script>

{% if rocketConfig.command == 'build' %}
<script type="module" inject-service-worker="" src="{{ '/_assets/scripts/registerServiceWorker.js' | asset | url }}"></script>
{% endif %}
