:not(:defined) {
  opacity: 1 !important;
}

code-tab:not(:defined) pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

code-tab:not(:defined)::before {
  content: attr(data-label);
  display: inline-block;
  margin-top: 8px;
  padding: 3px 5px;
  background: var(--markdown-table-row-odd-background-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 13px;
  width: calc(100% - 10px);
}

type-doc {
  background-color: var(--markdown-syntax-background-color);
  position: relative;
  max-width: 100%;
  margin-bottom: 1rem;
  display: block;
  border-radius: 6px;
  padding: 6px 12px;
}

type-doc :is([slot="name"], [slot="type"], [slot="attribute"]) {
  display: inline-flex !important;
}

type-doc[data-empty-body] header {
  border-radius: 6px;
}

type-doc type-doc {
  margin-bottom: 0;
  background: transparent;
  padding: 0.3rem 0.8rem;
}
