body {
  background: #111;
  color: white;
}

html.default .col-menu,
.tsd-page-toolbar,
.tsd-page-title {
  background: #151515;
}

.tsd-page-toolbar,
.tsd-page-toolbar a {
  color: #ddd;
}

.tsd-page-title {
  box-shadow: 0 0 5px hsla(0 0% 100% / 0.35);
}

header .social-link {
  display: table-cell;
  min-width: 20px;
  padding-left: 8px;
  vertical-align: middle;
}

header .social-link svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

header a.title {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

footer,
.tsd-select .tsd-select-list li,
#tsd-search .results li,
.tsd-panel {
  background: #222;
}

.tsd-panel {
  box-shadow: 0 0 4px black;
}

footer,
footer.with-border-bottom {
  border-color: #444;
}

footer.with-border-bottom {
  border-bottom: none;
}

footer.with-border-bottom .tsd-generator {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

footer.with-border-bottom .tsd-generator p {
  margin-right: auto;
}

/* footer badges */
footer.with-border-bottom .tsd-generator :not(:first-child) {
  margin-left: 8px;
}

footer > .container:last-of-type {
  border-top: 1px solid #444;
  min-width: calc(100% - 80px);
  background: black;
}

.tsd-select .tsd-select-list li:nth-child(2n),
#tsd-search .results li:nth-child(2n) {
  background: #282828;
}


.tsd-signatures .tsd-signature.current,
.tsd-select .tsd-select-list li:hover,
#tsd-search .results li.current,
#tsd-search .results li:hover {
  background: #333;
}

#tsd-search .field input {
  color: white;
}

.tsd-navigation li.pp-nav.pp-page.current {
  background-color: #333;
  border-left: 2px solid #555;
}

.tsd-page-toolbar,
.tsd-navigation li.label.pp-nav.pp-group {
  border-bottom-color: #555;
}

.tsd-navigation li.pp-nav.pp-page.pp-child {
  border-left-color: #555;
}

.tsd-navigation a,
.tsd-navigation li.pp-nav.pp-page.current a,
.tsd-navigation li.label.pp-nav.pp-group span {
  color: #eee;
}

.tsd-index-panel a,
.tsd-index-panel .tsd-parent-kind-module a,
.tsd-index-panel .tsd-kind-module a {
  color: #E040FB;
}

dl.tsd-comment-tags dt {
  color: #999;
  border-color: #999;
}

.tsd-flag {
  background-color: #666;
}

.tsd-index-panel .tsd-is-private a {
  color: #898989;
}

.tsd-sources,
.tsd-signature-symbol {
  color: #999;
}

#tsd-search.has-focus {
  background-color: #222;
}

.tsd-select .tsd-select-list li::before,
.tsd-select .tsd-select-label::before,
.tsd-widget::before {
  filter: invert();
}

.tsd-panel table tr {
  background-color: #222;
  border-top: 1px solid #666;
}

.tsd-panel table tr:nth-child(2n) {
  background-color: #333;
}

.tsd-panel table th,
.tsd-panel table td {
  border-color: #222;
}

.tsd-panel > h1, .tsd-panel > h2, .tsd-panel > h3,
.tsd-index-panel h3,
.tsd-signature,
.tsd-signatures {
  border-color: #333;
}

.hljs-keyword,
.hljs-id,
.hljs-built_in,
.css .smalltalk .hljs-class,
.hljs-winutils,
.bash .hljs-variable,
.tex .hljs-command,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #4FC3F7;
}

.language-graphql .hljs-name,
.language-graphql .hljs-meta,
.hljs-string,
.hljs-title,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value {
  color: #FFAB91;
}

.language-graphql .hljs-number,
.hljs-comment,
.hljs-annotation,
.hljs-template_comment,
.diff .hljs-header,
.hljs-chunk,
.apache .hljs-cbracket {
  color: #66BB6A;
}

.language-graphql .hljs-literal,
.xml .hljs-tag,
.hljs-tag {
  color: #00ACC1;
}

.xml .hljs-tag .hljs-name,
.hljs-tag .hljs-name {
  color: #26C6DA;
}

.xml .hljs-tag .hljs-atts,
.hljs-tag .hljs-attr {
  color: #03A9F4;
}