{% from "./macros.njk" import linkHeading, codeBlock %}
{% from "./macros.njk" import inheritance with context %}

<type-doc kind="attribute"
    data-attribute="{{ attribute.name }}"
    {{ ('data-inherited-from='+attribute.inheritedFrom.name) if attribute.inheritedFrom}}>
  <span slot="name">
    {{ linkHeading(attribute.name) }}
  </span>

  {{ inheritance(attribute) }}

  <span slot="type">{{ codeBlock(attribute.type | getTypeString) | linkToTypes | safe }}</span>

  {% if attribute.summary %}
    {% renderTemplate 'njk,md' %}{{ attribute.summary | safe }}{% endrenderTemplate %}
  {% endif %}

  {% if attribute.description %}
    {% renderTemplate 'njk,md' %}{{ attribute.description | safe }}{% endrenderTemplate %}
  {% endif %}

</type-doc>
