{% block bodyTag %}
  <body layout="blog-overview">
{% endblock bodyTag %}

<div class="articles">
  {% for post in posts %}
    {% if post.data.published %}

      <article>
        {% set cover = post.data.cover_image or post.data.socialMediaImage %}

        {% if cover %}
          <a href="{{ post.url | url }}">
            <img src="{{ cover | url }}" alt="">
          </a>
        {% endif %}

        <div class="content">
          <h2>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h2>
          <p>{{ post.data.description }}</p>
          <a class="read" href="{{ post.url | url }}">...read more</a>
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
