<div class="content-footer">
  <p>
    Caught a mistake or want to improve the blog?
    <a href="{{ site.gitSiteUrl }}/edit/{{ site.gitBranch }}/{{ page.inputPath }}">Edit this blog post on GitHub!</a>
  </p>
</div>
