<rocket-navigation no-redirects>
  {{ collections[section] | rocketNav | rocketNavToHtml({
  listItemClass: "menu-item",
  activeListItemClass: "current",
  activeKey: eleventyNavigation.key
}) | safe }}
  {% include 'partials/mobile-sidebar-bottom.njk' %}
</rocket-navigation>
