:host(:not([selected])) {
  display: none;
}

:host([selected]) {
  display: block;
}

#content {
  display: flex;
  flex: 1;
}

::slotted(pre) {
  margin-block-end: 0 !important;
}

code-copy {
  margin-block-end: 0;
}
