{% footnotes %}

<div class="content-footer">
  <p class="center">
    Caught a mistake or want to improve the blog?
    <a href="{{ site.gitSiteUrl }}/edit/master/{{ page.inputPath }}">Edit this blog post on GitHub!</a>
  </p>
</div>
