<header id="main-header">
  <div class="content-area">
    <button id="mobile-menu-trigger">
      <span class="sr-only">Show Menu</span>
      {{ '/_assets/burger-menu.svg' | asset | toAbsPath | inlineFilePath | safe }}
    </button>
    {% if layout === "home.njk" and rocketLaunch.homeLayout === "background" %}
      <a class="logo-link" href="{{ '/' | url }}">
        <img src="{{ '/_assets/logo.svg' | asset | url }}" alt="{{ site.logoAlt }}" />
        <span class="sr-only">{{ site.name }}</span>
      </a>
    {% else %}
      {% include 'partials/logoLink.njk' %}
    {% endif %}

    {%- for entry in collections.header %}
      <a href="{{ entry.url | url }}" class="
              {% if entry.url == page.url %} current {% endif %}
              {% if (page.url.search(entry.url) !== -1) and (page.url !== '/') %} active {% endif %}
            ">{{ entry.data.eleventyNavigation.key }}</a>
    {%- endfor %}

    <launch-dark-switch class="light-dark-switch" label="Toggle darkmode"></launch-dark-switch>

    {% include 'search/input.njk' %}

    {%- for entry in site.socialLinks %}
      <a class="social-link" href="{{ entry.url }}" aria-label="{{ site.name }} on {{ entry.name }}" rel="noopener noreferrer" target="_blank">
        <span class="sr-only">{{ entry.name }}</span>
        {% if entry.image %}
          <img src="{{ entry.image }}" alt="{{ entry.alt }}"/>
        {% else %}
          {{ '/_assets/brand-logos/NAME.svg' | replace("NAME", entry.name) | lower | asset | toAbsPath | inlineFilePath | safe }}
        {% endif %}
      </a>
    {%- endfor %}
  </div>
</header>
