<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Recursive&display=swap">
<link rel="stylesheet" href="{{ '/_assets/type-doc.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/liquid.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/mermaid.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/components.css' | asset | url }}">

{% if layout == 'home' %}
  <link rel="stylesheet" href="{{ '/_assets/home.css' | asset | url }}">
{% endif %}
