<ul id="libraries">
{% for library in libraries %}
  <li>
    <a href="./api/libraries/{{ library.lib }}/">
      <figure>
        <img src="{{ '_assets/library-logos/' + library.logo + '.svg' | asset | url }}" alt="" width="100px" height="100px"/>
        <figcaption>{{ library.name }}</figcaption>
      </figure>
    </a>
  </li>
{% endfor %}
</ul>

<style data-helmett>
#libraries {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  grid-template-rows: repeat(auto-fit, 140px);
  gap: 20px;
  list-style-type: none;
  place-content: center;
}

#libraries li,
#libraries {
  margin: 0;
  padding: 0;
}

#libraries li {
  display: contents;
}

#libraries a {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.9;
  padding: 20px;
  display: flex;
  text-decoration: none;
  border-radius: 100%;
  transition: background 0.2s ease-in-out;
  height: 100%;
  outline: none;
}

#libraries figure {
  margin: 0;
  display: grid;
  grid-template-rows: 100px min-content;
}

#libraries figcaption {
  text-align: center;
}

#libraries img {
  width: 100px;
}

#libraries a:hover figcaption,
#libraries a:focus figcaption {
  color: var(--primary-color-lighter);
  text-shadow: 2px 2px 2px var(--footer-background);
}

@media (prefers-color-scheme: dark) {
  #libraries a:hover figcaption,
  #libraries a:focus figcaption {
    text-shadow: 2px 2px 2px var(--primary-color-darker);
  }
}

</style>
