{% if content.jsCode %}
  <script type="module">
    {{ content.jsCode | safe }}
  </script>
{% endif %}

{% if site.analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics }}');
</script>
{% endif %}

<script>
  {{ '_assets/handleServiceWorker.js' | asset | toAbsPath | inlineFilePath | safe }}
</script>
