{% if post.data.published %}

  {% if post.data.generateSocialImage %}
    {% set cover_image = post.data.generateSocialImage | cloudinary(post.data) | url %}
  {% else %}
    {% set cover_image = post.data.cover_image %}
  {% endif %}

  <article>
    {% block coverImage %}
      {{ cover_image | dump }}

      {% if cover_image %}
        <a href="{{ post.url | url }}">
          <img src="{{ cover_image | url }}" alt="">
        </a>
      {% endif %}
    {% endblock %}

    <div class="content">
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      <p>{{ post.data.description }}</p>
      <a class="read" href="{{ post.url | url }}">...read more</a>
    </div>
  </article>
{% endif %}
