<rocket-drawer id="sidebar">
  <nav slot="content" id="sidebar-nav">
    {% for blockName, blockPath in _joiningBlocks._layoutHome.sidebar %}
      {% include blockPath %}
    {% endfor %}
  </nav>
</rocket-drawer>
