{% from "./macros.njk" import codeBlock, linkHeading %}

<type-doc kind="function" data-function="{{ declaration.name }}">
  <span slot="name">
    {% if declaration.async %}<em>async</em>{% endif %}
    {{ linkHeading(declaration.name) }}
  </span>

  {% if not declaration.kind === 'mixin' %}
    {% if declaration.summary %}
      {% markdown %}{{ declaration.summary | safe }}{% endmarkdown %}
    {% endif %}

    {% if declaration.description %}
      {% markdown %}{{ declaration.description | safe }}{% endmarkdown %}
    {% endif %}
  {% endif %}

  {% if declaration.parameters %}
    {{ linkHeading('Parameters', prefix=declaration.name, class=parameter) }}
    {% for param in declaration.parameters %}
      {% include "./parameter.njk" %}
    {% endfor %} {# param #}
  {% endif %} {# parameters #}

  {% if declaration.return %}
    <type-doc kind="return">
      {{ linkHeading('Returns', prefix=declaration.name, slot='name', class=return) }}
      <span slot="type">{{ codeBlock(declaration.return.type | getTypeString) }}</span>
      {% if declaration.return.summary %}
        {% markdown %}{{ declaration.return.summary | safe }}{% endmarkdown %}
      {% endif %}
      {% if declaration.return.description %}
        {% markdown %}{{ declaration.return.description | safe }}{% endmarkdown %}
      {% endif %}
    </type-doc>
  {% endif %} {# return #}
</type-doc>
