{% from "./macros.njk" import linkHeading, codeBlock %}
{% from "./macros.njk" import inheritance with context %}

<type-doc kind="method"
    data-method="{{ method.name }}"
    {{ ('data-inherited-from='+method.inheritedFrom.name) if method.inheritedFrom}}>
  <span slot="name">
    {% if method.privacy %}<em>{{ method.privacy }}</em>{% endif %}
    {% if method.async %}<em>async</em>{% endif %}
    {{ linkHeading(method.name) }}
    {% if method.optional %}<span>(optional)</span>{% endif %}
  </span>

  {{ inheritance(method) }}

  {%- if method.summary -%}
    {% markdown %}{{ method.summary | safe }}{% endmarkdown %}
  {%- endif -%}

  {%- if method.description -%}
    {% markdown %}{{ method.description | safe }}{% endmarkdown %}
  {%- endif -%}

  {% if method.parameters %}
    {{ linkHeading('Parameters', prefix=method.name, class=parameter) }}
    {% for param in method.parameters %}
      <type-doc kind="parameter" data-parameter="{{ param.name }}">
        <h4 slot="name">{{ param.name }}</h4>
        <span slot="type">{{ codeBlock(param.type | getTypeString) | linkToTypes | safe }}</span>
        {% if param.summary %}
          {% markdown %}{{ param.summary | safe }}{% endmarkdown %}
        {% endif %}
        {% if param.description %}
          {% markdown %}{{ param.description | safe }}{% endmarkdown %}
        {% endif %}
      </type-doc>
    {% endfor %} {# param #}
  {% endif %} {# parameters #}

  {% if method.return %}
    <type-doc kind="return">
      {{ linkHeading('Returns', prefix=method.name, slot='name', class=return) }}
      <span slot="type">{{ codeBlock(method.return.type | getTypeString) | linkToTypes | safe }}</span>
      {% if method.return.summary %}
        {% markdown %}{{ method.return.summary | safe }}{% endmarkdown %}
      {% endif %}
      {% if method.return.description %}
        {% markdown %}{{ method.return.description | safe }}{% endmarkdown %}
      {% endif %}
    </type-doc>
  {% endif %} {# return #}
</type-doc>
