{% from "./macros.njk" import linkHeading, codeBlock %}
{% from "./macros.njk" import inheritance with context %}

<type-doc kind="property"
    data-property="{{ property.name }}"
    {{ 'data-empty-body' if (not property.summary and not property.description) }}
    {{ ('data-inherited-from='+property.inheritedFrom.name) if property.inheritedFrom }}>
  <span slot="name">
    {% if property.privacy %}<em>{{ property.privacy }}</em>{% endif %}
    {% if property.static %}<em>static</em>{% endif %}
    {{ linkHeading(property.name) }}
    {% if property.optional %}<span>(optional)</span>{% endif %}
    {% if property.readonly %}<span>(read-only)</span>{% endif %}
  </span>

  {{ inheritance(property) }}

  {% if declaration.attributes %}
    {% for attribute in declaration.attributes %}
      {% if attribute.fieldName == property.name %}
        <span slot="attribute" data-reflects="{{ property.reflects or false }}">{{ attribute.name }}</span>
      {% endif %}
    {% endfor %}
  {% endif %}

  <span slot="type">{{ codeBlock(property.type | getTypeString) | linkToTypes | safe }}</span>

  {% if property.summary %}
    {% markdown %}{{ property.summary | safe }}{% endmarkdown %}
  {% endif %}

  {% if property.description %}
    {% markdown %}{{ property.description | safe }}{% endmarkdown %}
  {% endif %}

</type-doc>
