{% from "./macros.njk" import codeBlock, linkHeading with context %}

{% set attributes = declaration | getAttributes %}
{% set fields = declaration | getFields %}
{% set methods = declaration | getMethods %}
{% set privateFields = declaration | getPrivateFields %}
{% set privateMethods = declaration | getPrivateMethods %}
{% set slots = declaration | getSlots %}
{% set cssParts = declaration | getCssParts %}
{% set cssProperties = declaration | getCssProperties %}
{% set events = declaration | getEvents %}

{% block demo %}{% endblock %}

{% set offset = 1 if moduleContents === 'multiple' else 0 %}
{% set prefix = (declaration.name + '-') if moduleContents === 'multiple' else '' %}

{% if moduleContents === 'multiple' %}
  {{ linkHeading(declaration.name, prefix=prefix, level=2) }}
{% endif %}

{% if declaration.summary %}
  {% markdown %}{{ declaration.summary | safe }}{% endmarkdown %}
{% endif %}

{% if declaration.description %}
  {% markdown %}{{ declaration.description | safe }}{% endmarkdown %}
{% endif %}

{% block beforeAttributes %}{% endblock %}
{% if attributes.length %}
  {{ linkHeading('Attributes', prefix=prefix, level=2+offset) }}
  {% for attribute in (attributes | sortClassMembers) %}{% include "./attribute.njk" %}{% endfor %}
{% endif %}

{% block beforeProperties %}{% endblock %}
{% if fields.length %}
  {{ linkHeading('Properties', prefix=prefix, level=2+offset) }}
  {% for property in (fields | sortClassMembers) %}{% include "./property.njk" %}{% endfor %}
{% endif %}
{% block afterProperties %}{% endblock %}

{% block beforeMethods %}{% endblock %}
{% if methods.length %}
  {{ linkHeading('Methods', prefix=prefix, level=2+offset) }}
  {% for method in (methods | sortClassMembers) %}{% include "./method.njk" %}{% endfor %}
{% endif %}

{% block beforeSlots %}{% endblock %}
{% if slots.length %}
  {{ linkHeading('Slots', prefix=prefix, level=2+offset) }}
  {% for slot in (slots | sortClassMembers) %}
    {% include "./slot.njk" %}
  {% endfor %}
{% endif %}

{% block beforeParts %}{% endblock %}
{% if cssParts.length %}
  {{ linkHeading('CSS Shadow Parts', prefix=prefix, level=2+offset) }}
  <table class="css-parts-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for cssPart in (cssParts | sortClassMembers) %}
        <tr>
          <td>{{ cssPart.name }}</td>
          <td>{{ cssPart.description }}</td>
        </tr>
        {% if cssPart.summary %}
          {% markdown %}{{ cssPart.summary | safe }}{% endmarkdown %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% block beforeCssCustomProperties %}{% endblock %}
{% if cssProperties.length %}
  {{ linkHeading('CSS Custom Properties', prefix=prefix, level=2+offset) }}
  <table class="css-custom-properties-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Default Value</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for cssProp in (cssProperties | sortClassMembers) %}
        <tr>
          <td>{{ cssProp.name }}</td>
          <td>{{ codeBlock(cssProp.defaultValue, lang="css") }}</td>
          <td>{{ cssProp.description }}</td>
        </tr>
        {% if cssProp.summary %}
          {% markdown %}{{ cssProp.summary | safe }}{% endmarkdown %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% block beforeEvents %}{% endblock %}
{% if events.length %}
  {{ linkHeading('Events', prefix=prefix, level=2+offset) }}
  <table class="events-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for event in (events | sortClassMembers) %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ codeBlock(event.type.text) | linkToTypes | safe }}</td>
          <td>{% markdown %}{{ event.description | safe }}{% endmarkdown %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %} {# events #}

{% block beforePrivate %}{% endblock %}
{% if privateFields.length or privateMethods.length %}
  <details>
    <summary>Private API</summary>

    {% if privateFields.length %}
      {{ linkHeading('Private Properties', prefix=prefix, level=2+offset, anchor=false) }}
      {% for property in (privateFields | sortClassMembers) %}{% include "./property.njk" %}{% endfor %}
    {% endif %}

    {% if privateMethods.length %}
      {{ linkHeading('Private Methods', prefix=prefix, level=2+offset, anchor=false) }}
      {% for method in (privateMethods | sortClassMembers) %}{% include "./method.njk" %}{% endfor %}
    {% endif %}
  </details>
{% endif %}
