{%- macro codeBlock(type, lang='ts') -%}
{%- markdown -%}```{{ lang }}
{{ type | safe }}
```{%- endmarkdown -%}
{%- endmacro -%}

{%- macro linkHeading(text, level=3, prefix='', class='', slot='', anchor=true) -%}
  {%- set id = (prefix + '-' + text) if prefix else text -%}
  {%- set lvl =  level + (levelOffset or 0) -%}
  <h{{ lvl }}
      id="{{- id | lower | trim -}}"
      class="{{- class -}}"
      slot="{{- slot -}}">
    {%- if anchor -%}
    <a class="anchor" href="#{{- id | lower | trim -}}">
      <svg class="octicon octicon-link" viewBox="0 0 16 16" aria-hidden="true" width="16" height="16">
        <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
      </svg>
    </a>
    {%- endif -%}
    {{- text -}}
  </h{{ lvl }}>
{%- endmacro -%}

{%- macro exports(moduleData, packageName='', splitLines=false) -%}
  {%- if moduleData -%}
  <code-copy>
    {{- codeBlock(moduleData | manifestModuleImports(
      packageName=packageName,
      splitLines=splitLines
    ) | safe | trim) -}}
  </code-copy>
  {%- endif -%}
{%- endmacro -%}

{%- macro getModuleLink(args) -%}
  {%- set found = false -%}
  {%- if member.inheritedFrom.module -%}
    {%- for post in collections.all -%}
      {%- if (not found) and member.inheritedFrom.package -%}
        {%- if (post.data.package == member.inheritedFrom.package) and (post.data.module == member.inheritedFrom.module) -%}
          {%- set found = post.url | url -%}
        {%- endif -%}
      {%- elif post.data.module == member.inheritedFrom.module -%}
      {%- set found = post.url | url -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if found -%}
    {{- found -}}
  {%- endif -%}
{%- endmacro -%}

{%- macro inheritance(member) -%}
  {%- if member.inheritedFrom -%}
    {%- set link = getModuleLink(member)  -%}
    {%- if link.length -%}
      <span slot="inheritance">
        <em>inherited from</em>
        <a href="{{ link }}#{{ member.name | lower }}">{{ member.inheritedFrom.name }}</a>
      </span>
    {%- else -%}
      <span slot="inheritance">
        <em>inherited from</em>
        <span>{{ member.inheritedFrom.name }}</span>
      </span>
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}
