svg a {
  text-decoration: 1px underline dotted;
}

.actor { fill: var(--markdown-table-row-odd-background-color, #f6f8fa); }
rect.actor { stroke: var(--footer-background); }
.actor-line { stroke: var(--primary-lines-color); }

.labelText,
.messageText { stroke: none; }

text.actor,
.messageText { fill: var(--text-color); }

.loopLine,
.labelBox { fill: var(--primary-color-accent); }
.loopText { fill: var(--primary-text-color); }
.loopLine {
  stroke-width: 2px;
  stroke-dasharray: 2,2;
  stroke: var(--primary-lines-color);
}

#arrowhead path,
#crosshead path,
.messageLine0,
.messageLine1 { stroke: var(--markdown-link-color); }
#arrowhead { fill: var(--markdown-link-color); }

.messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: none;
}

.messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: 2, 2;
}

.classGroup {
  fill: var(--markdown-table-row-odd-background-color, #f6f8fa);
}

g.classGroup text {
  fill: var(--text-color);
  stroke: none;
  font-size: 10px;
}

g.classGroup text .title {
  font-weight: bolder;
}

.relation {
  stroke: var(--primary-lines-color);
  stroke-width: 1;
  fill: none;
}

#compositionEnd,
#compositionStart,
#dependencyStart,
#extensionEnd,
#extensionStart,
.extension {
  fill: var(--primary-lines-color);
  stroke: var(--primary-lines-color);
  stroke-width: 1;
}

#aggregationEnd,
#aggregationStart {
  fill: var(--markdown-syntax-number-color);
  stroke: var(--primary-lines-color);
  stroke-width: 1;
}
