name: Prerelease

on:
  push:
    branches:
      - next

jobs:
  prerelease:
    # Prevents changesets action from creating a PR on forks
    if: github.repository == 'apollo-elements/apollo-elements'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org
          cache: npm

      - name: Install packages
        run: npm ci

      - name: Codegen
        run: npm run build:codegen

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Create Prerelease Pull Request or Publish next tag to npm
        id: changesets
        uses: changesets/action@master
        with:
          publish: npm run release
          version: npm run release:prerelease
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
