{% if layout === "home.njk" and rocketLaunch.homeLayout === "background" %}
	<a class="logo-link" href="{{ '/' | url }}">
		<img src="{{ '/_assets/logo.svg' | asset | url }}" alt="{{ site.logoAlt }}" />
		<span class="sr-only">{{ site.name }}</span>
	</a>
{% else %}
	{% include 'partials/_shared/logoLink.njk' %}
{% endif %}
