{%- for entry in site.socialLinks %}
	{% set slug = entry.name | lower %}
	{% set indieAuth = slug == 'twitter' or slug == 'github' %}
	{% set logoPath = '/_assets/brand-logos/' + slug + '.svg' | asset | toAbsPath %}
	<a class="social-link"
			href="{{ entry.url }}"
			aria-label="{{ site.name }} on {{ entry.name }}"
			rel="{{ 'me' if indieAuth else 'noopener noreferrer' }}"
			target="_blank">
		<span class="sr-only">{{ entry.name }}</span>
		{% if entry.image %}
			<img src="{{ entry.image }}" alt="{{ entry.alt }}"/>
		{% else %}
			{{ logoPath | inlineFilePath | safe }}
		{% endif %}
	</a>
{%- endfor %}
